body {
  margin: 0;
  /* background-color: #f2f2f2; */
}
html {
  height: 100%;
}
a {
  color: black;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}
h1,
h2 {
  font-family: 'Kulim Park', sans-serif;
}
h3,
h4 {
  font-family: 'Acme', sans-serif;
}
.flex-total-center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}


.nav-holder {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 1% 0%;
}
.nav-elements {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-logo {
  width: 30%;
  padding-left: 5%;
}
.nav-logo img {
  width: 50%;
  height: 50%;
}


.landing-holder {
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.dark {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  height: 100%;
  width: 100%;
}
.landing-text {
  display: flex;
  flex-direction: column;
  padding: 15% 0;
}
.landing-text h1 {
  margin: 0;
  font-size: 70px;
}
.landing-text h3 {
  font-size: 25px;
}
.landing-text a {
  padding: 2% 5% 2% 5%;
  background-color: #FF3414;
  border: 2px solid #FF3414;
  color: white;
  border-radius: 50px;
  width: auto;
  text-align: center;
  margin: 15% auto 0% auto;
  font-size: 23px;
  transition: all 300ms ease;
}
.landing-text a:hover {
  background-color: white;
  border-color: white;
  color: black;
  transition: all 300ms ease;
}
.about-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-direction: row;
  background-color: white;
  padding: 5% 0;
}
.about-text {
  width: 50%;
  color: #727272;
}
.about-text i {
  display: block;
  margin-bottom: 2%;
  color: #FF3414;
}
.grey-text {
  color: #727272;
}
.about-text h2 {
  font-size: 40px;
  margin: 0;
  color: #2C2C2C;
}
.about-image {
  width: 50%;
  padding: 0% 5%;
}
.about-image img {
  width: 100%;
  height: 100%;
}
.pre-service {
  background-image: url("../images/usluge-main.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.services-title {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 5% 0%;
}
.services {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 5%;
}
.responsive-img {
  height: 50%;
  width: 100%;
}
.services-section {
  background-color: #fff;
  padding-top: 2%;
}
.service {
  width: 25%;
  margin: 2%;
  height: 100%;
}
.service a {
  color: #FF3414;
}
.service p {
  color: #727272;
  margin-left: 3%
}
.contact-holder {
  display:flex;
  background-color: #F5FBFF;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
}
.contact-text {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  color: #727272;
}
.contact-map {
  margin: 6% auto 2% auto;
}
.footer {
  background-color: #fff;
  color: #596672;
  padding: 1% 5%;
}
.footer-holder {
  display: flex;
  flex-direction: row;
}
.footer-element {
  width: 33%;
  display:flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5%;
}
.footer-element h3 , p {
  text-align: left !important;
  font-size: 16px;
}
.footer-element h3, h4 {
  color: #001D38;
  margin-top: 0;
}
.footer-element a {
  font-size: 18px;
  margin-bottom: 1%;
  color: #596672;
}
.footer-break {
  width: 80%;
  color: #596672;
  border: 1px solid #596672;
  border-radius: 30%;
  margin: 3% auto;
}
.footer-logo {
  width: 50%;
}
.footer-element img{
  width: 100%;
  height: 100%;
}
/* services */
.service-landing {
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.service-landing > .dark {
  padding: 7% 0%;
}
.service-landing > .dark h2 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}
.total-holder {
  display:flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  padding-top: 5%;
}
.service-links {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-links a {
  margin-bottom: 5%;
}
.service-links hr {
  width: 70%;
  border: 1px solid #EAEAEA;
  border-radius: 30px;
}
.service-text {
  width: 70%;
}
.total-holder h2 {
  font-size: 40px;
  color: #001D38;
}
.total-holder p {
  color: #596672;
}
@media screen and (max-width: 600px) {
  .about-holder {
    flex-direction: column;
  }
  .about-image {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .about-text {
    width: 80%;
    margin: 0 auto;
  }
  .services-title {
    font-size: 35px;
  }
  .services {
    flex-direction: column;
  }
  .service {
    width: 80%;
    margin: 5% auto;
  }
  .contact-text {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .footer-holder {
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
  }
  .footer-element {
    width: 100%;
  }
  .landing-text h1 {
    font-size: 35px;
    text-align: center;
  }
  .landing-text h3 {
    font-size: 20px;
    text-align: center;
  }
  .landing-text a {
    font-size: 15px;
  }
  .about-text h2 {
    font-size: 20px;
    text-align: center;
  }
  .about-text i {
    margin-left: 5% !important;
  }
  .service p {
    margin-left: 3%
  }
  .total-holder {
    flex-direction: column-reverse;
  }
  .service-links {
    width: 80%;
    margin: 5% auto;
  }
  .service-text {
    width: 90%;
    margin: 0 auto;
  }
  .service-text p {
    margin-left: 5%;
  }
  .service-landing > .dark h2 {
    font-size: 25px;
  }
  .total-holder h2 {
    font-size: 30px;
    color: #FF3414;
  }
}
